.App {
  width: 100vw; /* Adjust width based on screen size */
  min-height: 100vh; /* Minimum height of the viewport */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box;
}
.globe-container {
  display: flex;
  justify-self: space-around;
}
.earth {
  display: flex;
  width: 100%;
  justify-content: center;
}
